#di1 {
    width: 100%;
    margin:auto;
    border-style: groove;
    align-self: center;
    font-size: 2em;
    background-color: greenyellow;
}

#n1 {
    margin-left: 45%;
}

#but1 {
    margin-left: 45%;
    font-size: 1em;
    background-color: rgba(255, 0, 0, 0.723);
}

#but1:hover {
    background-color: rgb(255, 0, 0);
}

#di2 {
    border-style: groove;
    border-color: black;
    width: fit-content;
}

#but2 {
    background-color: yellow;
}

#but2:hover {
    background-color: red;
}

#divinind3 {
    border-style: groove;
    border-color: black;
    border-width: 5px;
    width: fit-content;
}

#butinind3 {
    font-size: 2em;
    background-color: yellow;
}

#butinind3:hover {
    background-color: red;
}